* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primario: #5cb6ff;
  --color-hover: #305a7b;
  --color-secundario: #899096;
  --fuente-primaria: 'Open Sans', sans-serif;
}
nav {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 60px;
}
.menu {
  display: flex;
  padding-right: 50px;
  margin-left: auto;
  align-items: center;
  gap: 100px;
}

header a {
  text-decoration: none;
  color: var(--color-primario);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.menu a:hover {
  color: var(--color-hover);
  transform: rotate(-5deg);
}
.foto-heber img {
  width: 35px;
  height: auto;
  border-radius: 50%;
}

.github-pic {
  height: 37.6px;
  width: auto;
}

.portada {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin-top: 40px;
  opacity: 0.8;
}
.portada img {
  max-width: 100%;
  max-height: 100%;
}
.portada h1 {
  color: white;
  position: absolute;
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
}

.contenedor-about {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}
.contenedor-foto {
  width: 50%;
  position: relative;
  height: 400px;
}
.foto-pincelada-about {
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.foto-pincelada-about img {
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0.5;
}
.foto-heber-about {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  position: absolute;
  z-index: 2;
}
.foto-heber-about img {
  height: auto;
  width: 100%;
  object-fit: contain;
}
.contenedor-foto h2 {
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: 3;
  font-size: 80px;
}
.contenedor-texto {
  margin-top: 60px;
  width: 50%;
}
.texto-about {
  margin-top: 80px;
  text-align: left;
  padding: 50px;
}
.texto-about h3 {
  font-size: 32px;
}
.texto-about p {
  margin-top: 28px;
  font-size: 18px;
}
.contenedor-certificaciones {
  margin-top: 150px;
  position: relative;
  min-height: 600px;
}
.contenedor-certificaciones img {
  position: absolute;
  width: 70%;
  min-height: 500px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0.6;
}
.contenedor-certificaciones h2 {
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 70px;
  z-index: 2;
}
.texto-certificaciones {
  position: relative;
  top: 80px;
  left: 50%;
  transform: translate(50%, 50%);
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, auto);
  gap: 50px 120px;
  width: 80px;
  text-align: left;
  justify-content: center;
  z-index: 3;
}
.lenguajes {
  width: 80%;
  margin: 0 auto;
}
.lenguajes p {
  padding: 0;
  margin: 0;
  color: var(--color-primario);
  transition: transform 0.6s ease, color 0.3s ease;
  transform-origin: center;
  display: inline-block;
}
.lenguajes p:hover {
  color: var(--color-hover);
  transform: rotateY(360deg);
  cursor: pointer;
}
.lenguajes-fila1 {
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
}
.lenguajes-fila1 p {
  margin: 50px 90px 40px 90px;
}
.lenguajes-fila2 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.lenguajes-fila2 p {
  margin-left: 140px;
}

.contacto {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  height: 500px;
}

.contenedor-fotos h3 {
  font-family: var(--fuente-primaria);
  font-weight: 100;
  width: 70%;
}
.fotos-redes {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 70px;
  padding-top: 80px;
  justify-content: flex-start;
}
.fotos-redes a {
  text-decoration: none;
}
.fotos-redes img {
  width: 35px;
  height: 35px;
}

.contenedor-fotos h2 {
  font-size: 80px;
  font-family: var(--fuente-primaria);
}

.linkedin {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.linkedin span {
  font-weight: bold;
  font-size: 13px;
  position: relative;
  top: 15px;
}
.instagram {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.instagram span {
  font-weight: bold;
  font-size: 13px;
  position: relative;
  top: 15px;
  color: #e1306c;
}
.twiter {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.twiter span {
  font-weight: bold;
  font-size: 13px;
  position: relative;
  top: 15px;
  color: var(--color-primario);
}
.github {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.github span {
  font-weight: bold;
  font-size: 13px;
  position: relative;
  top: 15px;
  color: var(--color-primario);
}
.formulario-contacto {
  width: 50%;
}
.formulario-contacto h3 {
  text-align: center;
  margin-top: 20px;
}
form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 60%;
  margin: 0 auto;
}
input,
textarea {
  border-color: var(--color-primario);
  border-radius: 5px;
  margin-bottom: 10px;
}
button {
  width: 100px;
  background-color: var(--color-primario);
  color: white;
  border-color: var(--color-primario);
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  align-self: self-end;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
button:hover {
  color: var(--color-hover);
  transform: rotate(-5deg);
}

.portfolio img {
  width: 600px;
  height: auto;
  position: relative;
  object-fit: contain;
  opacity: 0.6;
  z-index: 1;
}
.portfolio-texto {
  position: absolute;
  z-index: 2;
  text-align: center;
  margin-top: 80px;
  padding-left: 100px;
}
.portfolio h2 {
  font-size: 100px;
  text-align: left;
  font-family: var(--fuente-primaria);
}
h3 {
  text-align: left;
  width: 70%;
  font-weight: 200;
}

.fotos-portfolio {
  display: flex;
  height: 300px;
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}
.fotos-portfolio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.fotos-portfolio img {
  width: 350px;
  height: auto;
  border: 1px solid var(--color-secundario);
}
.fotos-portfolio div a {
  padding-top: 10px;
  color: var(--color-primario);
  font-family: var(--fuente-primaria);
}
.fotos-portfolio p {
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
}
footer {
  display: flex;
  gap: 100px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-top: 120px;
  color: var(--color-secundario);
}
footer a {
  text-decoration: none;
  color: var(--color-secundario);
}
.privacidad {
  text-align: left;
  width: 50%;
  padding-top: 100px;
  margin: 0 auto;
}
.privacidad h2 {
  text-align: center;
}
.privacidad p {
  padding-top: 30px;
}
