* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primario: #5cb6ff;
  --color-hover: #305a7b;
}
nav {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 60px;
}
.menu {
  display: flex;
  padding-right: 50px;
  margin-left: auto;
  align-items: center;
  gap: 100px;
}

a {
  text-decoration: none;
  color: var(--color-primario);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
.foto-heber img {
  width: 35px;
  height: auto;
  border-radius: 50%;
}
a:hover {
  color: var(--color-hover);
  transform: rotate(-5deg);
}

.github-pic {
  height: 37.6px;
  width: auto;
}

.portada {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  margin-top: 40px;
}
.portada img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.portada h1 {
  color: white;
  position: absolute;
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
}
.marca {
  text-align: left;
  padding-left: 50px;
  padding-bottom: 20px;
}
.marca p {
  color: var(--color-primario);
}
.contenedor-about {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}
.contenedor-foto {
  width: 50%;
  position: relative;
  height: 400px;
}
.foto-pincelada-about {
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.foto-pincelada-about img {
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0.5;
}
.foto-heber-about {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  position: absolute;
  z-index: 2;
}
.foto-heber-about img {
  height: auto;
  width: 100%;
  object-fit: contain;
}
.contenedor-foto h2 {
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: 3;
  font-size: 80px;
}
.contenedor-texto {
  margin-top: 60px;
  width: 50%;
}
.texto-about {
  margin-top: 80px;
  text-align: left;
  padding: 50px;
}
.texto-about h3 {
  font-size: 32px;
}
.texto-about p {
  margin-top: 28px;
  font-size: 18px;
}
.contenedor-certificaciones {
  margin-top: 20px;
  position: relative;
}
.contenedor-certificaciones img {
  position: absolute;
  width: 70%;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0.6;
}
.contenedor-certificaciones h2 {
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 70px;
  z-index: 2;
}
.texto-certificaciones {
  position: relative;
  top: 80px;
  left: 50%;
  transform: translate(50%, 50%);
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, auto);
  gap: 50px 120px;
  width: 80px;
  text-align: left;
  justify-content: center;
  z-index: 3;
}
