* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primario: #5cb6ff;
  --color-hover: #305a7b;
  --color-secundario: #899096;
  --fuente-primaria: 'Open Sans', sans-serif;
}
.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.hamburguesa {
  display: none;
}

.menu-desktop a {
  text-decoration: none;
  color: var(--color-primario);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.menu-desktop {
  margin-left: auto;
  display: flex;
  gap: 80px;
  padding-right: 120px;
}
.menu-desktop a {
  gap: 30px;
  transition: transform 0.2s ease, color 0.2s ease;
}
.menu-desktop a:hover {
  color: var(--color-hover);
  transform: rotate(-5deg) scale(1.1);
}
.logo-github {
  width: 35px;
  height: auto;
  margin-right: 30px;
  border-radius: 50%;
}
.logo-github img {
  width: 100%;
  height: auto;
}

.foto-heber {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 40px;
}

.foto-heber img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.github-pic {
  height: auto;
  width: 100%;
}

.portada {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin-top: 40px;

  opacity: 0.8;
}
.portada img {
  max-width: 100%;
  max-height: 100%;
}
.portada h2 {
  color: white;
  position: absolute;
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
}

.contenedor-about {
  display: flex;
  justify-content: center;
  min-height: 400px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.foto-pincelada-about {
  width: 100%;
  height: 330px;
  position: relative;
  z-index: 1;
}
.foto-pincelada-about img {
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0.5;
}
.foto-heber-about {
  width: 40%;
  height: 100px;
  position: absolute;
  z-index: 3;
}
.foto-heber-about img {
  height: 260px;
  width: 100%;
  object-fit: contain;
}
.contenedor-foto {
  text-align: center;
}
.contenedor-foto h2 {
  position: relative;
  z-index: 14;
  top: 20px;
  font-size: 80px;
}
.contenedor-texto {
  width: 50%;
}
.texto-about {
  margin-top: 80px;
  text-align: left;
  padding: 50px;
}
.texto-about h3 {
  font-size: 32px;
}
.texto-about p {
  margin-top: 28px;
  font-size: 18px;
}
.contenedor-certificaciones {
  margin-top: 150px;
  position: relative;
  min-height: 600px;
}
.contenedor-certificaciones img {
  position: absolute;
  width: 70%;
  min-height: 500px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0.6;
}
.contenedor-certificaciones h2 {
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 70px;
  z-index: 2;
}
.texto-certificaciones {
  position: relative;
  top: 80px;
  left: 50%;
  transform: translate(50%, 50%);
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, auto);
  gap: 50px 120px;
  width: 80px;
  text-align: left;
  justify-content: center;
  z-index: 3;
}
.texto-certificaciones h3 {
  font-weight: 600;
}
.lenguajes {
  width: 80%;
  margin: 0 auto;
}
.lenguajes p {
  padding: 0;
  margin: 0;
  color: var(--color-primario);
  transition: transform 0.6s ease, color 0.3s ease;
  transform-origin: center;
  display: inline-block;
}
.lenguajes p:hover {
  color: var(--color-hover);
  transform: rotateY(360deg);
  cursor: pointer;
}
.lenguajes-fila1 {
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
}
.lenguajes-fila1 p {
  margin: 50px 90px 40px 90px;
}
.lenguajes-fila2 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.lenguajes-fila2 p {
  margin-left: 140px;
  padding-bottom: 60px;
}

.contacto {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  height: 500px;
}

.contenedor-fotos h3 {
  font-family: var(--fuente-primaria);
  font-weight: 100;
  width: 70%;
}
.fotos-redes {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 70px;
  padding-top: 80px;
  justify-content: flex-start;
}
.fotos-redes a {
  text-decoration: none;
}
.fotos-redes img {
  width: 35px;
  height: 35px;
}

.contenedor-fotos h2 {
  font-size: 80px;
  font-family: var(--fuente-primaria);
}

.linkedin {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.linkedin span {
  font-weight: bold;
  font-size: 13px;
  position: relative;
  top: 15px;
}
.instagram {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.instagram span {
  font-weight: bold;
  font-size: 13px;
  position: relative;
  top: 15px;
  color: #e1306c;
}
.twiter {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.twiter span {
  font-weight: bold;
  font-size: 13px;
  position: relative;
  top: 15px;
  color: var(--color-primario);
}
.github {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.github span {
  font-weight: bold;
  font-size: 13px;
  position: relative;
  top: 15px;
  color: var(--color-primario);
}
.formulario-contacto {
  width: 50%;
}
.formulario-contacto h3 {
  text-align: center;
  margin-top: 20px;
}
form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 60%;
  margin: 0 auto;
}
input,
textarea {
  border-color: var(--color-primario);
  border-radius: 5px;
  margin-bottom: 10px;
}

.formulario-contacto button {
  width: 100px;
  background-color: var(--color-primario);
  color: white;
  border-color: var(--color-primario);
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  align-self: self-end;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
button:hover {
  color: var(--color-hover);
  transform: rotate(-5deg);
}
.portfolio {
  display: flex;
}
.foto-portada-portfolio {
  position: relative;
  z-index: 1;
}
.foto-portada-portfolio img {
  width: 90%;
  height: auto;
  object-fit: contain;
  opacity: 0.6;
}
.lenguajes-sobre-foto {
  position: absolute;
  display: flex;
  position: absolute;
  z-index: 2;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: var(--color-secundario);
}

.portfolio-texto {
  text-align: center;
  margin-top: 80px;
  padding-left: 100px;
}
.portfolio h2 {
  padding-top: 50px;
  font-size: 100px;
  text-align: left;
  font-family: var(--fuente-primaria);
}
h3 {
  text-align: left;
  width: 100%;
  font-weight: 200;
  padding-top: 20px;
}

.fotos-portfolio {
  display: flex;
  height: 300px;
  padding-top: 120px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}
.fotos-portfolio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.fotos-portfolio img {
  width: 350px;
  height: auto;
  border: 1px solid var(--color-secundario);
}
.fotos-portfolio div a {
  padding-top: 10px;
  color: var(--color-secundario);
  font-family: var(--fuente-primaria);
}
.fotos-portfolio p {
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
  color: var(--color-secundario);
}
footer {
  display: flex;
  justify-content: space-evenly;
  color: var(--color-secundario);
  padding: 30px 0 30px 0;
  margin-top: 80px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}
footer a {
  text-decoration: none;
  color: var(--color-secundario);
}
.privacidad {
  text-align: left;
  width: 50%;
  padding-top: 100px;
  margin: 0 auto;
}
.privacidad h2 {
  text-align: center;
}
.privacidad p {
  padding-top: 30px;
}
.popup-cookies {
  position: fixed;
  bottom: 30px;
  left: 50px;
  right: 30px;
  background-color: #fff;
  color: var(--color-secundario);
  border-radius: 5px;
  display: none;
  justify-content: space-between;
  max-width: 300px;
  margin: auto;
  align-items: center;
  z-index: 10;
}
.popup-cookies.show {
  display: flex;
}
.popup-cookies button {
  background-color: var(--color-primario);
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.popup-cookies p {
  color: var(--color-primario);
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  #desplegable-movil {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    z-index: 1000;
    gap: 5px;
    right: 0;
    width: 100%;
    align-items: center;
    padding: 10px;
    align-items: center;
  }
  #desplegable-movil a {
    width: 50%;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  #desplegable-movil.menu-desplegado {
    display: flex;
  }

  .hamburguesa {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    color: var(--color-primario);
    font-size: 30px;
    text-decoration: none;
  }
  .logo-github {
    display: none;
  }
  .portada {
    min-height: 500px;
  }

  .portada h2 {
    font-size: 70px;
  }
  .contenedor-about {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }

  .foto-pincelada-about {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .foto-heber-about {
    width: 55%;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .foto-heber-about img {
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  .contenedor-foto h2 {
    z-index: 14;
    top: 20px;
    font-size: 60px;
  }
  .contenedor-texto {
    width: 100%;
  }
  .texto-about {
    margin-top: 20px;
    text-align: center;
    padding: 50px;
  }
  .texto-about h3 {
    text-align: center;
    font-size: 28px;
  }

  .contenedor-certificaciones {
    margin-top: 30px;
    position: relative;
    min-height: 300px;
  }
  .contenedor-certificaciones img {
    position: absolute;
    width: 80%;
    min-height: 250px;
    align-items: center;
  }
  .contenedor-certificaciones h2 {
    position: absolute;
    font-size: 60px;
  }
  .texto-certificaciones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    min-height: 400px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 270px;
  }
  .texto-certificaciones h3 {
    text-align: center;
    font-weight: 600;
  }
  .texto-certificaciones p {
    text-align: center;
  }
  .lenguajes {
    width: 80%;
    padding-top: 350px;
  }

  .lenguajes-fila1 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .lenguajes-fila1 p {
    margin: 5px;
  }
  .lenguajes-fila2 {
    display: flex;
    flex-wrap: wrap;
  }
  .lenguajes-fila2 p {
    margin: 5px;
  }
  .portfolio {
    display: flex;
  }
  .portfolio-texto {
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 4;
  }
  .foto-portada-portfolio {
    position: relative;
    z-index: 1;
  }
  .foto-portada-portfolio img {
    width: 100%;
  }
  .lenguajes-sobre-foto {
    display: none;
  }

  .portfolio h2 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h3 {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
  }

  .fotos-portfolio {
    display: flex;
    height: 300px;
    padding-top: 500px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 530px;
    gap: 70px;
  }
  .fotos-portfolio div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .fotos-portfolio img {
    width: 350px;
    height: auto;
    border: 1px solid var(--color-secundario);
  }
  .fotos-portfolio div a {
    padding-top: 10px;
    color: var(--color-secundario);
    font-family: var(--fuente-primaria);
  }
  .fotos-portfolio p {
    text-align: center;
    width: 80%;
    margin-bottom: 10px;
    color: var(--color-secundario);
  }

  .contenedor-fotos h3 {
    font-family: var(--fuente-primaria);
    width: 80%;
  }
  .fotos-redes {
    justify-content: center;
  }

  .contenedor-fotos h2 {
    font-size: 60px;
    text-align: center;
  }
  .contacto {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: auto;
  }

  .formulario-contacto {
    width: 80%;
    margin: 0 auto;
  }
  .formulario-contacto h3 {
    text-align: center;
    margin-top: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: auto;
  }
  input {
    height: 30px;
  }
  .formulario-contacto button {
    width: 100px;
    align-self: center;
  }
  button:hover {
    color: var(--color-hover);
    transform: rotate(-5deg);
  }

  footer {
    display: flex;
    gap: 30px;
    width: 100%;
    margin-top: ;
    padding-top: 40px;
    text-align: center;
  }
  footer p {
    color: black;
  }
  footer a {
    text-decoration: none;
    color: var(--color-secundario);
  }
}
